<% provide(:title, 'Home') %>
<center>
  <h1>Yale Pediatric Cardiology Portal</h1>
  <p>Welcome to the Yale New Haven Children's Hospital Pediatric Cardiology Portal.</p>

  <a href=<%= root_path %> class="btn btn-primary btn-warning" rel="popover" 
  title="Request Access" data-content="Access is only allowed for
  staff members"><i class="icon-fire icon-white"></i> Request Access</a>
</center>
